*{
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 33;
}
.color-red{
    background-color: rgb(175, 0, 0);
    padding: 10px 100px;
    height: 60px;
}
.color-white{
    background-color: rgb(255, 255, 255);
    padding: 20px 100px;
}
.mdi-menu{
    color: rgb(175, 0, 0);
}
button .bg-light{
    color: rgb(175, 0, 0) !important;
}
li{
    transition: 0.5s;
}
li:hover{
    color: rgb(255, 50, 50);
}
header button{
    background-color: rgb(255, 255, 255);
    color: rgb(175, 0, 0);
}
header button:hover{
    background-color: rgb(175, 0, 0);
    color: white;
}
section.bgImg{
    background-image: url(assets/m1.webp);
    background-size: cover;
    height: calc(100vh - 133px);
}
section span{
    color: rgb(175, 0, 0);

}
.text{
    margin-left: 8rem;
}
.mdi-arrow-right{
    right: 0;
    background-color: rgba(0, 0, 0, 0.381);
    width: 30px;
    height: 30px;
    transition: 0.5s;
}
.mdi-arrow-right:hover{
    background-color: rgb(175, 0, 0);
    color: rgb(255, 255, 255);
}
.mdi-arrow-left{
    left: 0;
    background-color: rgba(0, 0, 0, 0.381);
    width: 30px;
    height: 30px;
    transition: 0.5s;
}
.mdi-arrow-left:hover{
    background-color: rgb(175, 0, 0);
    color: rgb(255, 255, 255);
}
section button{
    background-color: rgb(175, 0, 0);
    border: 2px solid rgb(175, 0, 0);
    color: rgb(255, 255, 255);
    transition: 0.5s;
    border: none;
}
section button:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(175, 0, 0);
}
.box-container{
    margin-top: -100px;
}
.box{
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.332);
    border-top: 10px solid rgb(175, 0, 0);
    background-color: #fff;
}
.box a{
    color: rgb(175, 0, 0);
}
.bg-reed{
    position: absolute;
    bottom: -35px;
    right: 40%;
    background-color: rgb(175, 0, 0);
    border: 5px solid #fff;
}
.brdr{
    width: 70px;
    height: 0;
    border-top: 2px solid rgb(175, 0, 0);
}
.desc{
    padding: 0 15rem;
}
.num , .txt{
    font-size: 20px;
}
.right-side , .left-side{
    width: 50%;
}
.khali{
    width: 70px;
    height: 0;
    border-top: 2px solid rgb(175, 0, 0);
}
.events{
    background-image: url(assets/bg.webp);
}
.box-ev{
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.186);
    border-radius: 10px 10px 0 0;
    width: 300px;
    background-color: #fff;
}
.box-ev img{
    width: 100%;
    border-radius: 10px 10px 0 0;
}
.box-ev h4{
    font-size: 17px;
}
.box-ev a{
    color: rgb(175, 0, 0);
}
.loc img{
    width: 20px;
}
.btn--red {
    background-color: rgb(175, 0, 0);
    display: inline-block;
}
.pedar{
    
}
